/* body {
    padding: 0px 10px;
}

.contai{
    margin-top: 190px;
    padding: 40px 5px 100px 5px;
}

.contai h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.square7{
    top: 570px;
    left: 340px;
}

.square6{
    top: 90px;
    left: 320px;
} */

