body {
    padding: 0px 200px;
    background-image: linear-gradient( black, brown, gold);
    height: 100vh;
    
}

.contai{
    margin-top: 120px;
    text-align: center;
    /* border: 2px; */
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
    border-image: linear-gradient( black, white);
    /* height: 400px; */
    padding: 70px 60px 100px 60px;
}

.contai h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.contai p{
    font-size: 15px;
    font-weight: 700px;
    text-shadow: 2px 2px 2px black;
    color: white;
}

#display{
    font-size: 15px;
    font-weight: 700px;
    text-shadow: 2px 2px 2px black;
    color: white;
}

.chec button{
    font-size: 15px;
    font-weight: 400;
    font-family: Verdana,sans-serif;
}

.square{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 520px;
    left: 1180px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    animation: glassAnimation 2s infinite alternate;
}

.square1{
    width: 60px;
    height: 60px;
    position: fixed;
    top: 40px;
    left: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    animation: glassAnimation 2s infinite alternate;
}

.square2{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 60px;
    left: 1200px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    animation: glassAnimation 2s infinite alternate;
}

.square3{
    width: 60px;
    height: 60px;
    position: fixed;
    top: 520px;
    left: 160px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    animation: glassAnimation 2s infinite alternate;
}

.square4{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 20px;
    left: 700px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    animation: glassAnimation 2s infinite alternate;
}

.square5{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 300px;
    left: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    animation: glassAnimation 2s infinite alternate;
}

.square6{
    width: 60px;
    height: 60px;
    position: fixed;
    top: 270px;
    left: 1140px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    animation: glassAnimation 2s infinite alternate;
}

.square7{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 530px;
    left: 600px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    animation: glassAnimation 2s infinite alternate;
}

@keyframes glassAnimation {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.1);
        opacity: 1;
    }
}